*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: end;
  max-width: 1140px;
  gap: 30px;
}

.result__video-container {
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.button {
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
  color: #fff;
  min-height: 34px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 5px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  min-width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  cursor: pointer;
}

.search-form__label:has(input[type="checkbox"]):hover {
  text-decoration: underline;
}

.search-form__label-text:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  padding: 1px;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  padding-left: 1px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: solid 1px #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  display: block;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.title {
  font-family: Oswald, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}

.content__details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-title {
  font-family: Oswald, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;
  width: 196px;
}

.content__video-card-description {
  line-height: 16.2px;
  overflow: hidden;
  display: -webkit-box; /* 1. Включает старую модель flexbox */
  -webkit-box-orient: vertical; /* 2. Задает вертикальное направление */
  -webkit-line-clamp: 4;
  line-clamp: 4;
  font-style: normal;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
